{{ attach_library('ldsibootstrap4/carousel') }}

{{ content | without('field_media_slider_slide', 'field_media_slider_icon', 'field_media_slider_color', 'field_media_slider_speed', 'field_media_slider_show_controls', 'field_media_slider_pagination') }}

{% set paginationToggle = ('On' in content.field_media_slider_pagination[0]) ? "true" : "false" %} 
{% set arrowToggle = ('On' in content.field_media_slider_show_controls[0]) ? "true" : "false" %}
{% set sliderSpeed = content.field_media_slider_speed.0 %}

<div class="carousel {% if content.field_media_slider_color %} {{content.field_media_slider_color.0}} {% endif %}">
   {% if content.field_media_slider_icon.0 %}
        <div class="medallion">
            {{content.field_media_slider_icon}}
        </div>
    {% endif %}
<div class="media-slider" id="mediaslider-{{ paragraph.id.value }}" data-slick='{"dots": {{ paginationToggle }}, "arrows": {{ arrowToggle }}, "infinite": true, "speed": 400, "autoplaySpeed": {{ sliderSpeed }}, "slidesToShow": 1, "autoplay": true, "adaptiveHeight": false}'>
        {% for key, item in content.field_media_slider_slide if key | first != '#' %}
            {{ item }}
        {% endfor %}
</div>
</div>