{#
/**
 * @file
 * Default theme implementation for a one column layout.
 *
 * This template provides a two column display layout with full width areas at
 * the top, bottom and in the middle.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% if content %}
{{ kint(settings) }}
    <div{{attributes}}>
        <div class="c-offcanvas-content-wrap" role="main">
            {{ kint(settings) }}
            <button class="c-button js-offcanvas-trigger" data-offcanvas-trigger="oc-{{ settings.uuid }}" href="#">{{settings.oc_label}}</button>


            <aside class="js-offcanvas c-panel c-panel--red c-panel--animate-content" data-offcanvas-options='{"modifiers": "{{settings.oc_position}},overlay"}' id="oc-{{ settings.uuid }}">
                <div class="c-panel__content u-transition-all">
                    <div class="l-wrapper">
                        {{ content.content }}
                    </div>
                </div>
            </aside>

        </div>

    </div>
{% endif %}
