{#
/**
 * @file
 * Default theme implementation for a two column layout.
 *
 * This template provides a two column display layout with full width areas at
 * the top, bottom and in the middle.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% set classes = [
	'layout',
	'layout--teaser',
	content.media ? 'has-media' : 'no-media',
	teaser_title ? 'has-title' : 'no-title',
	settings.teaser_type,
	settings.extra_classes
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="inner">
			{{ teaser_media }}
			{% if teaser_content or teaser_title %}
        <span class="wrapper--text">
          <span class="b-text-wrapper">
            {{ teaser_title }}
						{% if teaser_content %}
              <span class="caption">
            {{ teaser_content }}
          </span>
						{% endif %}
          </span>
        </span>
			{% endif %}
			{% if teaser_link %}
        <a href="{{ teaser_link.url }}" class="teaser-link"><span class="visually-hidden">Learn More</span> </a>
			{% endif %}


    </div>
  </div>
{% endif %}
